<div class="contailer">

  <div class="card-panel yellow">
    <h3>Compmonents</h3>

    <div class="card-panel pink white-text">
      {{calling}}
    </div>

    <app-worker-card [model]="worker"
                     (callEvent)="calling = $event"
                     *ngFor="let worker of workers; let idx=index">
      <h1>{{idx}}</h1>
    </app-worker-card>

  </div>


  <div class="card-panel blue">
    <h3>Services</h3>
    workers: {{workers | json}}
    <ul>
      <li *ngFor="let worker of workers">{{worker.name}} {{worker.phone}}</li>
    </ul>

  </div>


  <div class="card-panel orange lighten-3">


    <h3>Directives</h3>

    <ul>
      <li [ngClass]="{teal: o, green: !o}"
          *ngFor="let item of items; let idx=index; let o = odd">
        {{idx+1}} {{item.name}} {{o}}


      </li>
    </ul>


    <button (click)="showAlert()"> show alert</button>


    <input type="text"
           #myInput
           (input)="myName = myInput.value"
           [value]="myName"> {{myName}}
    <br>

    <input type="checkbox"
           id="toggle"
           [(ngModel)]="access">

    <label for="toggle">toggle access</label>
    {{access}}
    <div *ngIf="access">
      you have access
    </div>
  </div>


  <div class="card-panel teal lighten-3">
    <h3>Pipe and interpolate</h3>
    {{myName | uppercase}}
    <br>
    {{today / 1000/ 60 / 60 / 24 / 365 + 1970 }}
    <br>
    {{myName === "Kasia" ? 'Ja' : "Ktos"}}
    <br>
    {{today | date:"dd/MMM/yyyy * H:m:s" | uppercase}}
    <br>
    {{sum | sum}}
  </div>
</div>
