<div class="contailer">


  <div class="card-panel orange lighten-3">  <!--.card-panel.orange-->
    <h3>Directives</h3>

    <ul>
      <li [ngClass]="{teal: o, green: !o}"
          *ngFor="let item of items; let idx=index; let o = odd">
        {{idx+1}} {{item.name}} {{o}}

        <!--dyrektywa wejscia [ wplywa na atrybuty, ustawia lub tworzy atrybut np atrybut class tak jakbysmy napisali class= cos tam-->
        <!-- dyrektywa * wplywa na wyswietlenei calego taga np. li-->

      </li><!--angular opakowuje kawalek kodu w templaty dzieki tym gwiazdkom-->
    </ul>


    <input type="text"
           #myInput <!--nie dyrektywa, mozna sie do tego odwolywac w templatce , albo na zewnatrz tylko o tym pozniej-->
           (input)="myName = myInput.value" <!--zdarzenie, chcemy powiadomic parenta o zdarzeniu-->
           [value]="myName"> {{myName}}
    <br> <!--   two way data binding jest w dwoch etapach(input)->na kazdym znaku zeby cos sie stalo-->

    <input type="checkbox"
           id="toggle"
           [(ngModel)]="access"> <!--uwaga na uzywanie dla np 1000 elementwo, moze byc spade wydajnosci--> <!--banan w pudełku, [wejscie (wyjscie -->
    <label for="toggle">toggle access</label>
    {{access}}
    <div *ngIf="access"> <!--w angularze 1 trzeba bylo "{{access}}" a w 2 i 4 interpolacja tylko do wyswietlenia wartosci miedzy znacznikami -->
      you have access
    </div>
  </div>


  <div class="card-panel teal lighten-3">
    <h3>Pipe and interpolate</h3>
    {{myName | uppercase}} <!--pipy to funkcje na wartosci np. myname-->
    <br>
    {{today / 1000/ 60 / 60 / 24 / 365 + 1970 }}
    <br>
    {{myName === "Kasia" ? 'Ja' : "Ktos"}}
    <br>
    {{today | date:"dd/MMM/yyyy * H:m:s" | uppercase}} <!--po dwukropku formater dajemy--> <!--ctrl+spacja to podpowiadanie-->
    <br>
    {{sum | sum}} <!--refaktor jesli dotyczy i klas i htmla to jest to ryzykowne, lepiej tego nie robic-->
  </div>
</div>
